<body>
<div class="container">
  <h1 class="center">le grand bleuの使い方</h1>
  
  <article class="episode">
    <div class="episode__number">00</div>
    <div class="episode__content">
      <div class="title">はじめに</div>
      <div class="story">
        <p>当サイトはダイビングでのログブックの管理および各ダイビングスポットの海の状態や生物を検索しやすくすることを目的に作成しました。</p>
        <p>今まで私は数々のダイビングスポットで数々の友達ができました。しかし大抵がそのダイビングの時だけの繋がりで終わってしまうことに寂しさを感じていました。そこで出会った人たちといつまでもダイビングを通じて繋がることを目的として当アプリを作りました。</p>
      </div>
    </div>
  </article>
  
  <article class="episode">
    <div class="episode__number">01</div>
    <div class="episode__content">
      <div class="title">当サイトの機能</div>
      <div class="story">
        <p>ダイビングのログの作成、管理</p>
        <p>各ダイビングスポットの掲示板への投稿</p>
        <p>ユーザー同士でのメッセージのやり取り(未実装)</p>
        <p>フォロワー同士でのログブックの共有(未実装)</p>
        <p>ログブックへのいいね機能(未実装)</p>
      </div>
    </div>
  </article>
  
  <article class="episode">
    <div class="episode__number">02</div>
    <div class="episode__content">
      <div class="title">当サイトの使い方</div>
      <div class="story">
      <p>ログブックの作成の仕方</p>
        <ul>
          <li>まずはユーザー登録をしてください<li>
          <li>一番上のヘッダーにあるログブックの作成をクリック</li>
          <li>項目を埋めた後作成ボタンをクリック(場所名は必ず記入するようにしてください)</li>
          <li>ログブックが作成されマイページに作成したログブックの一覧が表示されます</li>
        </ul>
      <p>掲示板機能の利用方法</p>
        <ul>
          <li>マップページに移動してください</li>
          <li>投稿したいダイビングスポットのマップのピンをクリックすると吹き出しが出るのでもう一度クリック</li>
          <li>調べたい海の情報を確認する</li>
          <li>もし自分が利用したい掲示板が見つからなければお手数ですが管理人へ掲示板作成依頼の連絡をお願いします</li>
          <li>注・掲示板は管理人のみ作成することができます</li>
        </ul>
      <p></p>
      </div>
    </div>
  </article>
  
  <article class="episode">
    <div class="episode__number">03</div>
    <div class="episode__content">
      <div class="title">管理人より</div>
      <div class="story">
      <p>le grand bleuは私がダイビングをしていく中で不便だと思う部分を全てインターネットで管理できるようにしたいと思い作成いたしました。</p>
        <ul>
          <li>ダイビングをしていく中でログブックがたまりどのブックに書いたのかわからなったり紛失したりするのをweb上で管理したい</li>
          <li>海の情報を知る時にわざわざ潜りたい海の近くのダイビングショップのブログを見て海の透明度、生物を検索するのを一つのサイトで管理できるようにしたい</li>
          <li>様々なダイバーの写真を一つのサイトで閲覧できるようにしたい</li>
          <li>今まで出会ったダイバーといつまでも繋がっていたい</li>
        </ul>
      <p>上記のような理由を全て解消したく当サイトを作成しました。まだまだ至らないところや未実装の機能がありますが少しづつ改善していけたらいいなと思っています。それとよければダイビングをしたら掲示板への投稿をお願いします。それでは皆様が良きダイビングライフを送れることを心より願っています。</p>  
     </div>
    </div>
  </article>
</div>
  <h3 class="center"><%= link_to "マップページに戻る", maps_path , class: ""%></h3>
</body>