<body class="toppage">
<div class="row">
    <div class="col-6">
    <%= image_tag asset_path("kuma.jpeg"),class: "top-image" %>
    </div>
    <div class="col-6 top-right text-center">
      <h1>le grand bleu</h1>
        <p>le grang bleu(当サイト)ではダイビングの海の情報を気軽に投稿、検索すること、及びログブックの管理を簡単にします。</p>
        <ol>
          <li>ログブックをweb上で管理したい</li>
          <li>海の情報を簡単に検索できるようにしたい</li>
          <li>様々なダイバーの写真を一つのサイトで閲覧できるようにしたい</li>
          <li>今まで出会ったダイバーといつまでも繋がっていたい</li>
        </ol>
      <p>上記のような理由を解消したく当サイトを作成しました。まだまだ至らないところや未実装の機能がありますが少しづつ改善していけたらと思っています。</p>  

        <%= link_to "enter", maps_path , class: "btn btn-secondary btn-lg" %>
    </div>
</div>
</body>